@import "../../App.css";

.footer {
    margin-top: auto;
}

.social-icon a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 1;
    border: 1px solid hsl(var(--clr-lite));
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-primary));
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}